extends layout/main-layout.pug
        
block content
    main 
        form(action="/admin/add-product", method="POST")
            div
                label(for="title") Title
                input(type="text", name="title")#title
                button(type="submit") Submit       