extends layout/main-layout.pug

block content
    main 
        if prod.length > 0  
            .grid
                each product in prod
                    article.card
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://cdn.pixabay.com/photo/2015/12/19/20/32/paper-1100254__340.jpg", alt="card Image")                   
                        div.card__content
                            h2.product__price $19.99
                            p.product__description A very intresting book about so many   
                        .card__actions
                            button.btn Add to Cart

        else 
            h1 No product 